*{
    box-sizing: border-box;
    margin: 0.6cm 0cm;
    padding: 0cm;
}

.options-cont{
    height:3rem;
    width:3rem;
    background-color: #d7cff6cf;
    position: absolute;
    top:2rem;
    left:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options-cont:hover
{
    cursor:pointer;
    background-color: rgba(176, 235, 255, 0.842);
}

.tools-cont{
    background-color: #d8ddfe82;
    height:3rem;
    width:50rem;
    position: absolute;
    top:2rem;
    left:21rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    box-shadow: rgba(250, 247, 247, 0.63) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.scale-tools{
    animation:scale-tools;
    animation-duration: 1.3s;
}
@keyframes scale-tools {
    0%{
transform: scale(0.1);
    }
    100%{
transform: scale(1);
    }
}
.pencil-tool-cont {
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 5rem;
    width: 9rem;
    position: absolute;
    top: 6rem;
    left: 25vw;
    border-radius: 3px;
    display: none;
}
.pencil-width-cont {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-width-cont input {
    width: 94%;
    position: absolute;
    left:0.3em;
}
.pencil-color-cont {

    height: calc( 100% - 2rem );
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:1.5rem;
    left:0.5rem;
    gap:0.4em;
}
.pencil-color {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.red{
    background-color: #EF0107;
}
.blue{
    background-color: #89CFF0;
}
.green{
    background-color:#4CBB17;
}
.yellow{
    background-color: #FFFF00;
}
.orange{
    background-color: orange;
}

.eraser-tool-cont{
    height:1.7rem;
    width: 7rem;
    background-color: #f5fbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:6.0rem;
    left:36rem;
    box-shadow: rgba(250, 247, 247, 0.63) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: none;
}
.eraser-tool-cont input {
    width: 80%;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');


.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 81px;
  height:25px;
  background-color: #94c4ffc9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 9px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 108%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 100;
  font-size:12px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #94c4ffc9 transparent transparent transparent;
  font-weight: bold;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.2em;
}
*{
    margin: 0cm;
}